* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background:linear-gradient(to bottom, #9370DB, #4B0082);
}

.signin {
    width: 400px;
    height: 470px;
    background: skyblue;
    color: white;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.signin h1 {
    font-size: 2em;
    margin: 0;
}

.signin__card {
    margin-top: 20px;
}

.signin__card h2 {
    font-size: 1.5em;
    margin: 0;
}

.signin__card input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.signin__card button {
    padding: 5px 10px;
    background: white;
}