body {
    min-height: 100vh;
    margin: 0;
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
    background:linear-gradient(to bottom, #9370DB, #4B0082);
}

#climateImage {
    width: 400px;
}

.modal-content {
    width : 400px;
}