<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>너의 온도는</title>

    <script>
        $(document).ready(function () {
            // index.html 로딩이 완료되면 자동으로 showState() 함수를 호출
            showState();
        });
        let votes;  //처음에 가져오는 투표결과들
        let uploadImageState = 'none' //아무것도 없을 때 이미지 상태

        function showState() {
            $.ajax({
                type: "GET",
                url: "/api/votes",
                data: {},
                success: function (response) {
                    votes = response
                    console.log(votes)
                    show_profile('hot')
                    show_profile('good')
                    show_profile('cold')
                    show_climate(votes['most'])
                }
            })
        }
        function show_profile(state) {
            for (let i = 0; i < votes[state].length; i++) {
                console.log(votes[state][i])
            }

        }
        function show_climate(state) {
            $.ajax({
                type : "GET",
                url : "/api/stateImages",
                data : {'state' : state },
                success : function(response){
                    img_url = response
                    console.log(img_url)
                    //이미지 들어갈 태그를 아이디로 찾아서
                    //imgsrc = imgurl
                    // 여기에 state에 대응되는 사진이 나오도록 구현해야 됨
                    const imageElement = document.getElementById('climateImage');
                    imageElement.src = img_url;                
                }
            })
        }
        // 상태 업데이트 함수
        function updateState(newState) {
            $.ajax({
                type: 'POST',
                url: '/api/update-state',
                data: JSON.stringify({ state: newState }),
                contentType: 'application/json',
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert('투표 완료')
                        window.location.reload()
                    }
                }
            });
        }
        function uploadFile() {
            var formData = new FormData($('#uploadForm')[0]);
            formData.append('email','valen@gmail.com')
            formData.append('state',uploadImageState)
            console.log("전송", formData)
            $.ajax({
                url: '/api/uploadImage',
                type: 'POST',
                data: formData,
                processData: false, // 중요: 이 설정을 통해 jQuery가 데이터를 쿼리 문자열로 변환하는 것을 방지합니다.
                contentType: false, // 중요: FormData를 사용할 때는 'multipart/form-data'로 설정하되, 자동 생성되도록 둡니다.
                success: function (response) {
                    console.log('File uploaded successfully:', response);
                    alert("업로드 성공 !!")
                },
                error: function (jqXHR, textStatus, errorMessage) {
                    console.log('Error uploading file:', errorMessage);
                    alert("업로드 실패 !!")
                }
            });
            hidePop()
        }

        function handleFileSelect(state) {
            uploadImageState = state
            console.log(uploadImageState)
        }
        function showPop() {
            var pop = document.getElementById('pop');
            pop.style.display = 'block'; // 요소를 보이게 만듭니다.
        }
        function hidePop() {
            var pop = document.getElementById('pop');
            pop.style.display = 'none'; // 요소를 숨깁니다
        }
    </script>

    <style>
        #climateImage {
            width: 400px;

        }

        .upload {
            border: 2px solid #000;
            padding: 5px;
            width: 150px;
            text-align: center;
        }

        .popup {
            position: fixed;
            top: 100px;
            left: 100px;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 999;
            display: none;
        }
    </style>
</head>

<body>
    <h2>현재 정글의 기상상태</h2>
    <div id="container">
        <div>
            <img id="climateImage" src=""
                alt="">
        </div>
        <button onclick="showPop()">이미지 업로드</button>
        <br>
        <button id="hotButton" onclick="updateState(Hot)">Hot</button> <button id="goodButton"
            onclick="updateState(Good)">Good</button>
        <button id="coldButton" onclick="updateState(Cold)">Cold</button>
    </div>
    <div id="pop" class="popup">
        <button onClick="handleFileSelect('hot')">HOT</button>
        <button onClick="handleFileSelect('good')">GOOD</button>
        <button onClick="handleFileSelect('none')">COLD</button>
        <div>
            <button onclick="hidePop()">뒤로 가기</button>
        </div>
        <form id="uploadForm" enctype="multipart/form-data">
            <input type="file" id="imageFile" name="file">
            <input type="button" value="Upload" onclick="uploadFile()">
        </form>
    </div>
</body>

</html>