{% extends "base.html" %}
{% block script %}
    <script src="{{ url_for('login_js') }}"></script>
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block font %}
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@300&display=swap" rel="stylesheet">
{% endblock %}
{% block body %}
<div>
    <section class="box signin has-text-weight-bold">
        <h1 class="title is-2">너의 온도는</h1>
        <div>
            <div class="title is-3">로그인</div>
            <div>
                <div class="field">
                    <p class="control has-icons-left has-icons-right">
                      <input id="email" class="input" type="email" placeholder="Email">
                      <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                      </span>
                      <span class="icon is-small is-right">
                        <i class="fas fa-check"></i>
                      </span>
                    </p>
                  </div>
                  <div class="field">
                    <p class="control has-icons-left">
                      <input id="password" class="input" type="password" placeholder="Password">
                      <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                      </span>
                    </p>
                  </div>
                <br>
                <div class="has-text-right">
                    <a class="button" href="register">회원 가입</a>
                    <a class="button is-link" onclick="login()">로그인</a>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}