<div id="setPop" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <form id="setForm">
                <label class="field" for="temperature">설정 온도:</label>
                <input 
                    class="input is-link" 
                    type="number" id="temperature" 
                    name="temperature" required>
                <div class="has-text-right">
                    <input class="button" type="submit" value="바꿈!">
                </div>
            </form>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</div>