<div id="climatePop" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <div class="columns">
                <div class="column is-one-third ">
                    <button class="button is-danger " onClick="handleFileSelect('hot')">HOT</button>
                </div>
                <div class="column is-one-third ">
                    <button class="button is-success" onClick="handleFileSelect('good')">GOOD</button>
                </div>
                <div class="column is-one-third ">
                    <button class="button is-link" onClick="handleFileSelect('cold')">COLD</button>
                </div>
            </div>
            <form id="uploadForm" class="hide" enctype="multipart/form-data">
                <div class="file is-link has-name is-fullwidth">
                    <label class="file-label">
                      <input id="climateFile" class="file-input" type="file" name="resume">
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                          Info file…
                        </span>
                      </span>
                      <span class="file-name">
                        파일을 올려주세요
                      </span>
                    </label>
                  </div>
                  <br>
                  <div class="has-text-right">
                    <input class="button" type="button" value="Upload" onclick="uploadFile()">
                </div>
            </form>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</div>