<div id="msgInputPop" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box is-small">
            <form id="setForm">
                <label class="field" for="message">메시지:</label>
                <input 
                    class="input is-link" 
                    type="text" id="message" 
                    name="message" placeholder="하고 싶은 말을 적어주세요">
                <div class="has-text-right">
                    <br>
                    <input class="button" type="submit" value="투표">
                </div>
            </form>
        </div>
        
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
</div>