<div class="columns has-text-centered">
    <div id="hot" class="column is-one-third showVotes">
        <button 
            class="button is-danger is-medium js-modal-trigger" 
            data-target="msgInputPop" 
            onclick="setVoteState('hot')">Hot</button>
        <div class="profiles">
            <br>
        </div>
    </div>
    <div id="good" class="column showVotes">
        <button 
            class="button is-success is-medium js-modal-trigger" 
            data-target="msgInputPop" 
            onclick="setVoteState('good')">Good</button>
        <div class="profiles">
            <br>
        </div>
    </div>
    <div id="cold" class="column showVotes">
        <button 
            class="button is-info is-medium js-modal-trigger" 
            data-target="msgInputPop" 
            onclick="setVoteState('cold')">Cold</button>
        <div class="profiles">
            <br>
        </div>
    </div>
</div>